<div class="container">
  <div class="row">
      <div class="col-sm-12 text-center">
      </div>
      <div class="col-sm-6 col-md-offset-4 text-left">
      <h4>Компания: 	Суги Бан </h4>
      <h4>Контактное лицо: 	Терещенко Игорь </h4>
      <h4>Телефон: +7-988-863-20-10 </h4>
      <h4>Телефон: +7-962-430-53-03 </h4>
      <h4>Адрес: 	Ставропольский край, г. Невинномысск, </h4>
      <h4>ул. Водопроводная 360, офис 119 этаж 1 </h4>
      <h4>E-mail:          </h4>
      <h3>Компания на карте города</h3>


      <%= link_to "Na MAIN", root_path %>
    </div>
  </div>
</div>
