<div class="container">




       <div class="col-sm-4 col-md-3 col-xs-6 ">
          <h3 class="text-center">Имитация бруса </h3>
          <h3 class="text-center">
            <%= image_tag("catalog/imitacia_brysa_sosna.jpg" , class: "img-rounded", size: "220x170") %>
          </h3>


          <p>Материал: сосна</p>
          <p>Толщина: 18 - 22 мм</p>
          <p>Ширина: 135 - 195 мм</p>
          <p>Длина: 2100 - 6000 мм</p>
          <p>Сортность: Экстра, Люкс,</p>
          <p>Стандарт, Эконом, А, АВ, В,</p>
          <p>PRIME, C</p>
        </div>


        <div class="col-sm-4 col-md-3 col-xs-6">
          <h3 class="text-center">Имитация бруса </h3>
          <h3 class="text-center">
            <%= image_tag("catalog/imitacia_brysa_listvenica.png" , class: "img-rounded", size: "220x170") %>
          </h3>


          <p>Материал: лиственница</p>
          <p>Толщина: 20 - 22 мм</p>
          <p>Ширина: 140 мм</p>
          <p>Длина: 2750 - 4000 мм</p>
          <p>Сортность: Экстра, </p>
          <p> А,  В, C, D</p><br><br>
        </div>


        <div class="col-sm-4 col-md-3 col-xs-6">
          <h3 class="text-center">Блок-хаус</h3>
          <h3 class="text-center">
            <%= image_tag("catalog/bloc-xays_listve.jpg" , class: "img-rounded", size: "220x170") %>
          </h3>


          <p>Материал: лиственница</p>
          <p>Толщина: 25 мм</p>
          <p>Ширина: 105 мм</p>
          <p>Длина: 3000 - 6000 мм</p>
          <p>Сортность: АВ, С</p><br><br><br><br>
        </div>


        <div class="col-sm-4 col-md-3 col-xs-6">
          <h3 class="text-center">Брусок Рейка</h3>
          <h3 class="text-center">
            <%= image_tag("catalog/brysok_reika.jpg" , class: "img-rounded", size: "220x170") %>
          </h3>


          <p>Материал: сосна, лиственница</p>
          <p>Толщина: 5 - 80 мм</p>
          <p>Ширина: 11 - 80 мм</p>
          <p>Длина: 1800 - 6000 мм</p>
          <p>Сортность: Экстра, AB,</p>
          <p>Эконом, АВC</p>
        </div>
</div>
