<div class="container">
  <div class="row">

       <div class="col-xs-2 col-sm-3 col-md-4">
          <h3 class="text-center">Имитация бруса</h3>
          <p>Материал: сосна</p>
          <p>Толщина: 18 - 22 мм</p>
          <p>Ширина: 135 - 195 мм</p>
          <p>Длина: 2100 - 6000 мм</p>
          <p>Сортность Экстра, Люкс,</p>
          <p>Стандарт, Эконом, А, АВ, В,</p>
          <p>PRIME, C</p>
        </div>

        <div class="col-xs-2 col-sm-3 col-md-4">
          <h3 class="text-center">Имитация бруса</h3>
          <p>Материал: сосна</p>
          <p>Толщина: 18 - 22 мм</p>
          <p>Ширина: 135 - 195 мм</p>
          <p>Длина: 2100 - 6000 мм</p>
          <p>Сортность Экстра, Люкс,</p>
          <p>Стандарт, Эконом, А, АВ, В,</p>
          <p>PRIME, C</p>
        </div>

        <div class="col-xs-2 col-sm-3 col-md-4">
          <h3 class="text-center">Имитация бруса</h3>
          <p>Материал: сосна</p>
          <p>Толщина: 18 - 22 мм</p>
          <p>Ширина: 135 - 195 мм</p>
          <p>Длина: 2100 - 6000 мм</p>
          <p>Сортность Экстра, Люкс,</p>
          <p>Стандарт, Эконом, А, АВ, В,</p>
          <p>PRIME, C</p>
        </div>

        <div class="col-xs-2 col-sm-3 col-md-4">
          <h3 class="text-center">Имитация бруса</h3>
          <p>Материал: сосна</p>
          <p>Толщина: 18 - 22 мм</p>
          <p>Ширина: 135 - 195 мм</p>
          <p>Длина: 2100 - 6000 мм</p>
          <p>Сортность Экстра, Люкс,</p>
          <p>Стандарт, Эконом, А, АВ, В,</p>
          <p>PRIME, C</p>
        </div>

        <div class="col-xs-2 col-sm-3 col-md-4">
          <h3 class="text-center">Имитация бруса</h3>
          <p>Материал: сосна</p>
          <p>Толщина: 18 - 22 мм</p>
          <p>Ширина: 135 - 195 мм</p>
          <p>Длина: 2100 - 6000 мм</p>
          <p>Сортность Экстра, Люкс,</p>
          <p>Стандарт, Эконом, А, АВ, В,</p>
          <p>PRIME, C</p>
        </div>


  </div>
</div>
