<%= javascript_include_tag 'http://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;mode=debug&amp;load=Map,Placemark,geocode,geoObject.addon.balloon,control.ZoomControl,control.SearchControl' %>


<div class="container">
  <div class="row">
      <div class="col-sm-12 text-center">
        <h2>Контакты</h2>
      </div>
      <div class="col-sm-6 col-md-offset-4 text-left">
      <h4>Контактное лицо: 	Терещенко Игорь </h4>
      <h4>Телефон: +7-988-863-20-10 </h4>
      <h4>Телефон: +7-962-430-53-03 </h4>
      <h4>Адрес: 	Ставропольский край, г. Невинномысск, </h4>
      <h4>ул. Водопроводная 360, офис 119 этаж 1 </h4>
      <h4>E-mail:          </h4>
      <h3>Компания на карте города</h3>


      <%= link_to "Na MAIN", root_path %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
      <div class="col-sm-8 col-md-offset-2 text-center">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=KCp1Sxuf8473_DCsgg3ijtgut1WyIyo3&amp;width=669&amp;height=400&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true">
        </script>
      </div>
    </div>
  </div>
