<%= javascript_include_tag 'http://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;mode=debug&amp;load=Map,Placemark,geocode,geoObject.addon.balloon,control.ZoomControl,control.SearchControl' %>


<div class="container">
  <div class="row">
      <div class="col-sm-12 text-center">
        <h2>Контакты</h2>
      </div>
      <div class="col-sm-6 col-md-offset-4 text-left">
      <h4>Компания: 	Суги Бан </h4>
      <h4>Контактное лицо: 	Терещенко Игорь </h4>
      <h4>Телефон: +7-988-863-20-10 </h4>
      <h4>Телефон: +7-962-430-53-03 </h4>
      <h4>Адрес: 	Ставропольский край, г. Невинномысск, </h4>
      <h4>ул. Водопроводная 360, офис 119 этаж 1 </h4>
      <h4>E-mail:          </h4>
        <h3>Компания на карте города</h3>
        <img src="http://static-maps.yandex.ru/1.x/?ll=97.326541,57.449456&amp;z=15&amp;size=650,400&amp;l=map&amp;pt=97.326541,57.449456,pm2blm"> <br>

      <%= link_to "Na MAIN", root_path %>
    </div>
  </div>
</div>
