
.jumbotron {
  border-radius: 50px;
  width: 100%;
  height: 320px;
  padding: 20px 0;
  color: #fff;
  background: linear-gradient(0deg, #227C3E 0%,#1EA09B 100%);
  margin-bottom: 0px;
}

.container .jumbotron {
  border-radius: 0px;
}

.navbar {
  margin-bottom: 0px;
}
