


.jumbotron {
  border-radius: 50px;
  width: 100%;
  height: 320px;
  padding: 20px 0;
  color: #fff;
  background: linear-gradient(0deg, #227C3E 0%,#1EA09B 100%);
  margin-bottom: 0px;
  //background-image: url('https://cdn.lyft.net/brochure/images/whyilyft-7-nyc.05994626.jpg');
  //background: url(../assets/images/test2.jpeg);
  background-image: image-url("373485.jpg");
}

.container .jumbotron {
  border-radius: 0px;
}

.navbar-brand {
  font-size: 29px;
  padding: 13px;
}

.navbar {
  margin-bottom: 0px;
  min-height: 70px;
  font-size: 22px;
  padding: 10px;
}
