

body {
  background: image-url("derevo-tekstura-fon-3878.jpg") no-repeat fixed;
  background-size: cover;
  color: #F0E9E9;

}

#numberPhone {
  margin-top: 20px;
}

.col-sm-4 {
  height: 480px;
}

.jumbotron {
  border-radius: 50px;
  width: 100%;
  height: 320px;
  padding: 20px 0;
  color: #fff;
  background: linear-gradient(0deg, #227C3E 0%,#1EA09B 100%);
  margin-bottom: 0px;
  background-image: image-url("373485.png");
  background-size: 100%;
}

.container .jumbotron {
  border-radius: 0px;

}

.navbar-brand {
  font-size: 29px;
  padding: 13px;
}

.navbar {
  margin-bottom: 0px;
  min-height: 70px;
  font-size: 22px;
  padding: 10px;
}
